/* ============================= */
/* RESET */
/* ============================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background:#000;
  color:#fff;
  overflow-x:hidden;
}


/* ============================= */
/* HERO (FUNDO GERAL) */
/* ============================= */

.hero-mobile{
  height:115vh;
  width:100%;
  background:url("bg-mobile.jpg") center center/cover no-repeat;
  position:relative;

  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
}


/* ============================= */
/* BOTÃO MOBILE (SCROLL) */
/* ============================= */

.scroll-btn{
  position:absolute;
  bottom:150px;

  background:#22c55e;
  color:#000;

  padding:14px 26px;
  border-radius:10px;

  font-weight:bold;
  font-size:16px;

  text-decoration:none;

  animation:pulse 1.9s infinite;
}

@keyframes pulse{
  0%{transform:scale(1)}
  50%{transform:scale(1.08)}
  100%{transform:scale(1)}
}


/* ============================= */
/* FORM SECTION */
/* ============================= */

.form-section{
  width:100%;
  background:#000;
  padding:120px 20px;
}

.form-section{
  height:115vh;
  width:100%;
  background:url("bg-form.jpg") center center/cover no-repeat;
  position:relative;
}

/* ===== FOOTER ===== */
footer{
  background:#000;
  color:#aaa;
  text-align:center;
  padding:10px;
  font-size:12px;
}


/* ============================= */
/* CONTEÚDO FORM */
/* ============================= */

.hero-content{
  max-width:420px;
  margin:auto;
  text-align:left;
}

.badge{
  display:inline-block;
  background:rgb(212, 181, 1);
  padding:6px 12px;
  border-radius:20px;
  font-size:15px;
  margin-bottom:14px;
  color: #000;
}

h1{
  font-size:35px;
  line-height:1.3;
}

.highlight{
  color:#facc15;
  font-size:50px;
  font-weight:900;
}

p{
  font-size:18px;
  margin:12px 0 20px;
  color:#cac2c2;
}


/* ============================= */
/* FORM */
/* ============================= */

form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

input{
  padding:12px;
  border-radius:6px;
  border:none;
}

button{
  background:#22c55e;
  color:#000;
  font-weight:bold;

  padding:14px;
  border-radius:6px;
  border:none;
  cursor:pointer;

  transition:.3s;
}

button:hover{
  transform:translateY(-2px);
  box-shadow:0 6px 18px rgba(34,197,94,.6);
}


/* ================================================= */
/* ================= DESKTOP ======================= */
/* ================================================= */

@media(min-width:900px){

  /* HERO ocupa tela toda */
  .hero-mobile{
    height:100vh;
    background:url("bg.jpg") center right/cover no-repeat;
  }

  /* remove layout mobile */
  .scroll-btn{
    display:none;
  }

  /* FORM LADO ESQUERDO FIXO */
  .form-section{
    position:absolute;
    top:0;
    left:0;

    height:100vh;
    width:520px; /* largura fixa do painel */

    display:flex;
    align-items:center;
    justify-content:flex-start;

    padding:40px;

    /* sombra lateral escura */
    background:linear-gradient(
      90deg,
      rgba(0,0,0,0.92) 0%,
      rgba(0,0,0,0.85) 60%,
      rgba(0,0,0,0.0) 100%
    );
  }
}


