*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===== FAIXA TOPO ===== */
.topbar{
  background:#e10600;
  color:white;
  text-align:center;
  padding:10px;
  font-weight:bold;
  font-size:14px;
}

/* ===== HERO FULLSCREEN ===== */
.hero{
  position:relative;
  height:100vh;
  width:100%;
  display:flex;
  align-items:center;

  /* imagem ocupa TUDO */
  background:url("bg.jpg") center right/cover no-repeat;
}

/* escurece lado esquerdo */
.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(
    90deg,
    rgba(0,0,0,0.95) 10%,
    rgba(0,0,0,0.75) 10%,
    rgba(0,0,0,0.3) 30%,
    transparent
  );
}

/* ===== TEXTO ===== */
.content{
  position:relative;
  z-index:2;
  max-width:600px;
  padding-left:8%;
  color:white;
}

.badge{
  background:#0f2742;
  padding:6px 12px;
  border-radius:20px;
  font-size:20px;
  display:inline-block;
  margin-bottom:18px;
}

h1{
  font-size:44px;
  line-height:1.2;
}
h3{
  font: size 25px;
  line-height:2.5;
}

.highlight{
  color:#ffd400;
  font-size:56px;
  font-weight:900;
  margin:10px 0;
}

.desc{
  color:#d9d9d9;
  margin-bottom:25px;
}

/* ===== FORM ===== */
.form{
  width:360px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.form input{
  padding:14px;
  border:none;
  border-radius:4px;
}

.form button{
  padding:16px;
  background:#39d32d;
  color:black;
  font-weight:bold;
  border:none;
  border-radius:4px;
  cursor:pointer;
  transition:.3s;
}

.form button:hover{
  transform:scale(1.03);
}

/* ===== ANIMAÇÕES ===== */
.fade-in{
  animation:fade 1.2s ease;
}

.slide-up{
  animation:slide 1s ease;
}

@keyframes fade{
  from{opacity:0}
  to{opacity:1}
}

@keyframes slide{
  from{transform:translateY(40px); opacity:0}
  to{transform:translateY(0); opacity:1}
}

/* ===== FOOTER ===== */
footer{
  background:#000;
  color:#aaa;
  text-align:center;
  padding:14px;
  font-size:12px;
}

/* ===== MOBILE RESPONSIVO ===== */
@media (max-width: 900px){

  .hero{
    height: auto;              /* permite crescer */
    min-height: 100vh;
    padding: 80px 0 40px 0;

    /* imagem centralizada e visível */
    background-position: center top;
    background-size: cover;
  }

  /* overlay mais leve no celular */
  .overlay{
    background: linear-gradient(
      180deg,
      rgba(0,0,0,0.95) 0%,
      rgba(0,0,0,0.85) 40%,
      rgba(0,0,0,0.6) 70%,
      rgba(0,0,0,0.4) 100%
    );
  }

  .content{
    max-width: 100%;
    padding: 25px;
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .badge{
    font-size:14px;
  }

  h1{
    font-size:28px;
  }

  .highlight{
    font-size:36px;
  }

  .subtitle{
    font-size:18px;
  }

  .desc{
    font-size:14px;
  }

  .form{
    width:100%;
    max-width:350px;
  }

  .form input,
  .form button{
    width:100%;
  }
}

